@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .btn {
        margin-bottom: 0.25rem;
        margin-top: 0.25rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-right: 0.75rem;
        padding-left: 0.75rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        background-color: #6c757d;
        color: #fff;
        border-radius: 16px;
        font-size: 1.25rem;
        font-weight: 600;
        transition: all 0.2s ease;
    
      }
      .btn:hover {
        background-color: #5a6268;
      }
}